# Backend

# compiled output
/backend/dist
/backend/node_modules

# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
/backend/.project
/backend/.classpath
/backend/.c9/
/backend/*.launch
/backend/.settings/
/backend/*.sublime-workspace

# IDE - VSCode
/backend/.vscode/*
/backend/!.vscode/settings.json
/backend/!.vscode/tasks.json
/backend/!.vscode/launch.json
/backend/!.vscode/extensions.json

# vue

# compiled output
/vue/dist
/vue/node_modules

# Logs
/vue/logs
/vue/*.log
/vue/npm-debug.log*
/vue/yarn-debug.log*
/vue/yarn-error.log*
/vue/lerna-debug.log*

# OS
/vue/.DS_Store

# Tests
/vue/coverage
/vue/.nyc_output

# IDEs and editors
/vue/.idea
/vue/.project
/vue/.classpath
/vue/.c9/
/vue/*.launch
/vue/.settings/
/vue/*.sublime-workspace

# IDE - VSCode
/vue/.vscode/*
/vue/!.vscode/settings.json
/vue/!.vscode/tasks.json
/vue/!.vscode/launch.json
/vue/!.vscode/extensions.json

# Nuxt

# compiled output
/nuxt/dist
/nuxt/node_modules

# Logs
/nuxt/logs
/nuxt/*.log
/nuxt/npm-debug.log*
/nuxt/yarn-debug.log*
/nuxt/yarn-error.log*
/nuxt/lerna-debug.log*

# OS
/nuxt/.DS_Store

# Tests
/nuxt/coverage
/nuxt/.nyc_output

# IDEs and editors
/nuxt/.idea
/nuxt/.project
/nuxt/.classpath
/nuxt/.c9/
/nuxt/*.launch
/nuxt/.settings/
/nuxt/*.sublime-workspace

# IDE - VSCode
/nuxt/.vscode/*
/nuxt/!.vscode/settings.json
/nuxt/!.vscode/tasks.json
/nuxt/!.vscode/launch.json
/nuxt/!.vscode/extensions.json

# Backend

# compiled output
/nuxt/dist
/nuxt/node_modules

# Logs
/nuxt/logs
/nuxt/*.log
/nuxt/npm-debug.log*
/nuxt/yarn-debug.log*
/nuxt/yarn-error.log*
/nuxt/lerna-debug.log*

# OS
/nuxt/.DS_Store

# Tests
/nuxt/coverage
/nuxt/.nyc_output

# IDEs and editors
/nuxt/.idea
/nuxt/.project
/nuxt/.classpath
/nuxt/.c9/
/nuxt/*.launch
/nuxt/.settings/
/nuxt/*.sublime-workspace

# IDE - VSCode
/nuxt/.vscode/*
/nuxt/!.vscode/settings.json
/nuxt/!.vscode/tasks.json
/nuxt/!.vscode/launch.json
/nuxt/!.vscode/extensions.json
