@import 'mixins';

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/mars.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &>#bP {
    top: 45vh;
    left: 15vw;
    transform: rotate(-220deg) translate(-50%, -50%);
    -webkit-transform: rotate(-220deg) translate(-50%, -50%);
  }

  &>#bN {
    top: 45vh;
    right: 25vw;
    transform: rotate(-45deg) translate(-50%, -50%);
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  }

  &>.content {
    position: fixed;
    left: 50vw;
    top: 50vh;
    width: 25vw;
    height: 90vh;
    transform: translate(-70%, -50%);
    border: 6px $orange solid;
    border-radius: 75px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    font-weight: bolder;
    box-shadow: black 3px 3px 10px;
    text-shadow: black 1px 1px;

    &>.title {
      color: $orange;
      text-transform: uppercase;
    }
  }
}
