$white: #f0e7e7;
$brown: #451804;
$orange: #c1440e;
$darkYellow: #e77d11;
$lightYellow: #fda600;

.arrow {
  position: fixed;
  width: 40px;
  height: 40px;
  outline: none;
  background: transparent;
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 3px;
  transition: 1s;
  cursor: pointer;
  filter: drop-shadow($orange 1px 1px 4px);

  &:hover {
    filter: drop-shadow(2px 2px 10px $orange);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border: solid black;
      border-width: 0 10px 10px 0;
      z-index: -1;
    }

    &:active:before {
      transition: all 1s linear;
      transform: scale(2);
      opacity: 0;
    }
  }

  &:disabled {
    border: solid grey;
    border-width: 0 10px 10px 0;
    cursor: default;
    filter: none;

    &:before {
      display: none;
    }
  }
}

h1 {
  font-size: 40px;
  color: $darkYellow;
  width: 90vw;
  padding-top: 2vh;
  text-align: center;
}
