.gallery {
  height: auto;
  min-height: 100vh;
  background-image: url('../static/gallery.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &>h2 {
    text-align: center;
    padding: 3vw;
    text-shadow: 1px 1px black;
  }

  &>.gallery__filter {
    position: fixed;
    color: white;
    text-shadow: black 1px 1px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(102, 65, 18, 0.8603816526610644) 0%, rgba(36, 36, 25, 1) 100%);
    top: 0;
    height: 100vh;
    width: 15vw;
    transition: 1s;
    border-right: $brown 1px solid;

    &>h3 {
      padding-top: 10px;
      font-size: $Normal;
      text-align: center;
      transition: 1s;

      @media (min-width: 768px) {
        font-size: $Large;
        text-align: left;
      }
    }

    input[type=date] {
      width: 15px;
      transition: 2s;
    }

    &:hover {
      padding: 25px;
      width: 65vw;

      input[type=date] {
        width: 40vw;
      }

      &>div {
        opacity: 1;

      }

      &>h3 {
        padding-top: 10px;
        font-size: $Large;
        text-align: left;
      }
    }

    &>div {
      opacity: 0;

      @media (min-width: 768px) {
        opacity: 1;
      }

    }

    @media (min-width: 768px) {
      input[type=date] {
        width: auto;
      }

      width: 15vw;
      padding: 25px;

      &:hover {
        width: 15vw;

        input[type=date] {
          width: auto;
        }
      }

    }
  }

  &>.gallery__photos {
    width: 70vw;
    padding-left: 15vw;
    padding-bottom: 20vh;

    @media (min-width: 768px) {
      padding-left: 25vw;
      display: block;
    }

    &>ul {
      list-style: none;
      background: transparent;

      &>li {
        width: 70vw;
        height: max-content;
        margin: 2px;
        padding-bottom: 15px;
        background: transparent;
        display: flex;

        &>div {
          text-shadow: black 1px 1px;
          color: $lightYellow;
          font-size: $Small;

          @media (min-width: 1024px) {
            font-size: $Large;
          }

          &>span {
            color: $darkYellow;
          }
        }
      }
    }
  }
}

.gallery__photos--img {
  border: $brown 2px solid;
  height: 100%;
  width: 30vw;
  background-color: black;
  margin-right: 10px;
  margin-left: 20px;

  @media (min-width: 1024px) {
    width: 20vw;
  }
}

.subtitle {
  color: $lightYellow;
  text-shadow: black 1px 1px;
}
